<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Funcionario</ion-title>
  </ion-toolbar>
  <ion-button (click)="mostrarinput(2)">insirir novo funcionario</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-row>
    <ion-col>
      <ion-list>
        <ng-container *ngFor="let funcionario of this.funcionarios">
          <ion-item>
            <ion-label>
              Código: {{ funcionario.CodFun }}
              Nome: {{ funcionario.Nome }}
            </ion-label>
            <ion-icon name="trash-outline" (click)="removerFuncionario(funcionario.CodFun)" class="icon-delete"></ion-icon>
            <!-- <ion-button (click)="removerFuncionario(funcionario.CodFun)">remover</ion-button>           -->
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="this.insirir == 2">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-row>
              <ion-col size="12"><ion-label><ion-input label="codigo"></ion-input></ion-label></ion-col>
              <ion-col size="12"><ion-label><ion-input label="sobrenome"></ion-input></ion-label></ion-col>
              <ion-button (click)="adicionarFuncionarios()">insirir</ion-button>
            </ion-row>      
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ng-container>
  
</ion-content>
