<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Funcionario</ion-title>
  </ion-toolbar>
  <ion-button (click)="mostrarinput(2)">insirir novo funcionario</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-row>
    <ion-col>
      <ion-list>
        <ng-container *ngFor="let funcionario of this.funcionarios">
          <ion-item>
            <ion-label>
              Código: {{ funcionario.CodFun }}
              Nome: {{ funcionario.Nome }}
            </ion-label>
            <ion-row>
              <ion-col size="6"><ion-icon name="trash-outline" (click)="removerFuncionario(funcionario.CodFun)" class="icon"></ion-icon></ion-col>
              <ion-col size="6"> <ion-icon name="pencil-outline" (click)="mostrarinput(3)" class="icon"></ion-icon></ion-col>
            </ion-row>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="this.insirir == 2">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-row>
              <form #insirir="ngForm" (ngSubmit)="adicionarFuncionarios(insirir.value)">
                <ion-input ngModel name="nome" type="text" placeholder="nome"></ion-input>
                <ion-button type="submit">teste</ion-button>
              </form>
              {{ this.mensagem }}
            </ion-row>      
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-container *ngIf="this.insirir == 3">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-row>
              <form #atualizar="ngForm" (ngSubmit)="atualizarFuncionario(atualizar.value)">
                <ion-input ngModel name="codigo" type="text" placeholder="codigo"></ion-input>
                <ion-input ngModel name="nome" type="text" placeholder="nome"></ion-input>
                <ion-button type="submit">enviar</ion-button>
              </form>
              {{ this.mensagem }}
            </ion-row>      
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
